\begin{minipage}[t]{0.46\textwidth}
  \boxheader{\bfseries <%= @header %>}
  \begin{minipage}{\textwidth}
    \vspace{3pt}
    \setlength\leftskip{2pt}
    <%= @client.name %>\\
    <%= bdgettext("invoice", "VAT ID") %>: <%= @client.vat_id %>\\
    <%= @client.address_line %>\\
    <%= @client.postal_code %> <%= @company.city %>
  \end{minipage}
\end{minipage}%
